<div class="form-popup" id="login">
    <form method="post" action="" class="form-container">
        <h1>Login</h1>

        {{#if message.lerror}}
            <p id="error">{{message.lerror}}</p>
        {{/if}}
        {{#if message.email}}
            <p id="lemail">{{message.email}}</p>
        {{/if}}
        <div class="input-container">
            <input class="input-field" id="l1" type="email" name="lemail" placeholder="Email Address" value="{{values.lemail}}">
        </div>

        {{#if message.password}}
            <p id="lpswrd">{{message.password}}</p>
        {{/if}}
        <div class="input-container">
            <input class="input-field" id="l2" type="password" name="lpassword" placeholder="Password" value="{{values.lpassword}}">
        </div>

        <input type='hidden' name='action' value='login' />

        <button type="submit" class="btn">Login</button>

        <a class="btn cancel" onclick="clearForm('login'); closeForm('login');">Close</a>
    </form>
</div>