<nav>
    <div class="menu-icon">
        <span class="fas fa-bars"></span></div>
        <div class="logo">
            <img src="/images/logo1.svg" style="vertical-align:middle;width:50px;height:70px;">
            NoxuMeal
        </div>
        <div class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="/menu">On The Menu</a></li>
            <li><a href="/about">About</a></li>
            <hr>
        </div>
        {{#if user}}
            <div class="sign-items">
                <li>
                        <div class="dropdown">
                            <a  class="nav-button" data-toggle="modal">
                                {{user.first_name}} {{user.last_name}}
                                {{#if cart.items}}<span class="badge">{{qty}}</span>{{/if}}
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                                {{#if user.super_user}}
                                    <a href="/sdash">Dashboard</a>
                                    <a href="/meals">Manage Meals</a>
                                {{else}}
                                    <a href="/dash">Dashboard</a>
                                {{/if}}
                                    <div>
                                        <a href="#" onclick="openForm('cart'); return false;">
                                            Cart{{#if cart.items}}<span class="badge">{{qty}}</span>{{/if}} </a>
                                    </div>
                            </div>
                        </div>
                </li>
                <li><a class="nav-button" data-toggle="modal" href="/Logout">
                    Logout
                </a></li>
            </div>
        {{else}}
            <div class="sign-items">
                <li><a class="nav-button"data-toggle="modal" href="#"
                        onclick="closeForm('register'); openForm('login'); return false;">
                    Log in
                </a></li>
                <li><a class="nav-button" data-toggle="modal" href="#"
                        onclick="closeForm('login'); openForm('register'); return false;">
                    Register
                </a></li>
            </div>
        {{/if}}
        <div class="cancel-icon">
            <span class="fas fa-times"></span>
        </div>
    </div>
</nav>
